/* Navbar Start */
.bg-all {
    background-color: #F1F3FF;
  }
  
  .bg-btn {
    background-color: #5CB85F;
    color: white;
  }
  
  .navbar-loc {
    margin: 0% 6%;
  }
  
  .brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 6%;
  }
  
  .off-navbar {
    width: 50%;
  }
  
  .tittle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 25%;
  }
  
  .content {
    font-size: 14px;
    padding-right: 80px;
  }
  
  /* Navbar End */
  
  .bg-all {
    background-color: #F1F3FF;
  }
  
  .bg-btn {
    background-color: #5CB85F;
    color: white;
  }
  
  .navbar-loc {
    margin: 0% 6%;
  }
  
  .brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 6%;
  }
  
  .off-navbar {
    width: 50%;
  }
  
  .tittle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 25%;
  }
  
  .content {
    font-size: 14px;
    padding-right: 80px;
  }
  
  /* Header Start */
  .grid-left {
    padding-top: 5%;
    padding-left: 12%;
  }
  
  .grid-right {
    padding-left: 3.5%;
  }
  
  .car-img {
    width: 704px;
    height: 407px;
  }
  
  /* Header End */
  
  /* Our Service Start */
  .grid-service {
    margin-top: 6%;
  }
  
  .size-service {
    width: 459px;
    height: 428px;
  }
  
  .grid-best {
    padding-left: 10%;
  }
  
  .icon-tick {
    color: #1434d4;
    font-size: 20px;
    background-color: #CFD4ED;
    width: 30px;
    height: 30px;
  }
  
  /* Our Service End */
  
  /* Why Us Start */
  .grid-whyus {
    margin-top: 100px;
  }
  
  .icon-promotion {
    height: 100%;
  }
  
  .why-us {
    padding-top: 100px;
  }
  
  .why-text p {
    font-size: 14px;
  }
  
  .why-text .card {
    border-radius: 8px;
  }
  
  .height-card {
    height: auto;
  }
  
  
  /* Sewa mobil dilokasimu */
  .grid-rentcar {
    background-color: #0D28A6;
    border-radius: 13px;
  }
  
  .spacing-text {
    padding-left: 30%;
    padding-right: 30%;
  }
  
  /* Sewa mobil dilokasimu */
  
  /* FAQ */
  .display-accor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  @media only screen and (min-width: 320px) and (max-width: 576px) {
    .car-img {
      width: 100%;
      height: 100%;
    }
  
    .grid-service1 {
      margin-top: 8%;
    }
  
    .size-service {
      width: 100%;
      height: 100%;
    }
  
    .size-card {
      margin-top: 5%;
    }
  
    .pos-card {
      margin-left: 8%;
      margin-right: 8%;
    }
  
    .Whyus {
      text-align: center;
    }
  
    .faq {
      text-align: center;
    }
  
    .center-icon {
      align-items: center;
    }
  
    .center-img {
      margin-left: 25%;
      margin-right: 25%;
    }
  
    .reset-img {
      display: flex;
      justify-content: center;
    }
  
    .footer {
      padding-left: 4%;
    }
  
    .size-carosel {
      height: max-content;
    }
  
    .display-none {
      display: none;
    }
  
    .img-pos {
      margin-top: 0;
    }
  
    .brand {
      margin-left: 10%;
    }
  
    .owl-carousel .card-body {
      display: block;
    }
  
    .card-right {
      padding: 0;
    }
  
    .card-left {
      width: 25%;
      height: 25%;
      margin: 0;
      margin-left: 37%;
    }
  
    .icon-pos {
      padding-top: 5%;
    }
  
  }